* {
    margin: auto;
    width: 100%;
    text-align: center;
    font-family: "Georgia";
    width: 90%;
}

a {
    color: inherit;
}
a:hover {
    color: rgb(187, 0, 0);
}

.header .name {
    font-size: x-large;
    margin-bottom: 2.5%;
    margin-top: 5%;
}

.header .menu {
    font-size: medium;
    margin-bottom: 5%;
    width: 50%;
    text-align: center;
    border: 2px solid #c5a8a8;
    background-color: antiquewhite;
    line-height: 1.4;
}

.header .menu a {
    padding: 8px;
    color: rgb(201, 80, 120);
    text-decoration: none;
}

p {
    font-size: medium;
    line-height: 1.4;
}

.stories li {
    text-align: left;
    font-size: medium;
    padding: 2px;
}

.contact a {
    padding: 4px;
}

.main .projects {
    width: 70%;
}

.main .projects img {
    float: none;
    padding: 4px;
    width: auto;
    height: 200px;
}

.stories_text p {
    text-align: left;
}


