* {
    margin: auto;
    width: 100%;
    text-align: center;
    font-family: "Helvetica";
    width: 90%;
}

a {
    color: inherit;
}
a:hover {
    color: rgb(187, 0, 0);
}

.header .name {
    font-size: x-large;
    margin-bottom: 2.5%;
    margin-top: 5%;
}

.header .menu {
    font-size: medium;
    margin-bottom: 5%;
    width: 50%;
    text-align: center;
    border: 2px solid #c5a8a8;
    background-color: antiquewhite;
    line-height: 1.4;
    word-wrap: break-word;
}

.header .menu a {
    padding: 8px;
    color: rgb(201, 80, 120);
    text-decoration: none;
}

p {
    font-size: medium;
    line-height: 1.4;
}

.stories li {
    text-align: left;
    font-size: medium;
    padding: 2px;
}

.contact a {
    padding: 4px;
}

.main .things p {
    text-align: left;
}

.main .things li {
    text-align: left;
}

.stories_text p {
    text-align: left;
}

.courses {
    text-align: left;
    align-items: left;
}

.courses .semester {
    margin: 5px;
    width: 400px;
    border: 2px solid #c5a8a8;
    background-color: antiquewhite;
    line-height: 1.4;
    flex: 0;
}

.courses .semester li {
    font-size: small;
    text-align: left;
}

.courses .year {
    margin: 1%;
    width: 500px;
    text-align: center;
    border: 2px solid #810000;
    background-color: rgb(210, 141, 141);
    line-height: 1.4;
}

#gallery {
    line-height:0;
    -webkit-column-count:5; /* split it into 5 columns */
    -webkit-column-gap:5px; /* give it a 5px gap between columns */
    -moz-column-count:5;
    -moz-column-gap:5px;
    column-count:3;
    column-gap:5px;
 }

 #gallery img {
    width: 100% !important;
    height: auto !important;
    margin-bottom:5px; /* to match column gap */
 }

 .middle {
    transition: .5s ease;
    opacity: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #414141;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

 
 @media (max-width: 1200px) {
    #gallery {
     -moz-column-count:    4;
     -webkit-column-count: 4;
     column-count:         4;
    }
 }

 @media (max-width: 1000px) {
    #gallery {
     -moz-column-count:    3;
     -webkit-column-count: 3;
     column-count:         3;
    }
 }

 @media (max-width: 800px) {
    #gallery {
     -moz-column-count:    2;
     -webkit-column-count: 2;
     column-count:         2;
    }
 }

 @media (max-width: 400px) {
    #gallery {
     -moz-column-count:    1;
     -webkit-column-count: 1;
     column-count:         1;
    }
 }

 .comics img {
    max-width: 40%;
    height: auto;
 }