<div class="col">
  {% if project.redirect %}
    <a href="{% if project.redirect %}{% if project.redirect contains '://' %}{{ project.redirect}}{% else %}{{ project.redirect | relative_url }}{% endif %}{% else %}{{ project.url | relative_url }}{% endif %}">
    {%
      include figure.liquid
      loading="eager"
      path=project.img
      sizes = "250px"
      alt="thumbnail"
      zoomable=false
      class="preview"
    %}
    </a>
  {% else %}
    {%
      include figure.liquid
      loading="eager"
      path=project.img
      sizes = "250px"
      alt="thumbnail"
      zoomable=true
      class="preview"
    %}
  {% endif %}
</div>
