<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Isabella Yu</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="Isabella Yu,yukaryote,robots,MIT"/>
    <link rel="stylesheet" href="../layouts/static/css/style.css">
    <script src="index.js" type="text/javascript" defer></script>
</head>

<body>
    <div class="header" id="top">
        <div id="pagehead">
            <h1>Isabella Yu</h1>
        </div>
        <div id="navbar">
            <a href="index.html">Home</a></li>
            <a href="academics/academics.html">School stuff</a></li>
            <a href="projects/projects.html">Projects </a></li>
            <a href="art/art.html">Art</a></li>
            <a href="writing/writing.html">Writing</a></li>
        </div>
    </div>

    <div id="content">
        <img src="../layouts/static/images/transparent.png" alt="chubby kitty" style="width:100px;height:auto;">
        {{ post.content }}
    </div>
        
    
    
    
    </body>
    </html>